*{margin: 0;padding: 0;}

h2{
    cursor: pointer;
    width: max-content;
   margin: 0 auto;
   padding: 10px;
   border-radius: 15px;
   background-color: rgb(0, 0, 0,0.1);
}
.colors-frame{
    
    display: flex;
    height: 25rem;
    text-align: center;
   
}
.color{
    color: white;
    width: 20%;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
}

.next-button{
border: 1px solid black;
width: 40px;
margin: 0 auto;
font-size:30px;
border: none;
cursor: pointer;
background: transparent;
color: white; 
height:max-content ;
 }
 
.buttons{
    display: flex;
    justify-content: center;
}
.button-row{
    font-family: 'Roboto', sans-serif;
    width: max-content;
    height: 3rem;
    font-size: 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 5px 30px;
    margin: 10px 10px;
}
/*  new colors */
.saved-colors{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
  
 
}



.new-colors{
    display: flex;
    
    text-align: center;
    height:11rem;
    margin: 20px 10px;
    border-radius: 30px;
    
}
.current-color{
    width: 5.5rem;
}


.current-color:nth-child(1){ border-radius: 30px 0 0 30px;}
.current-color:nth-child(5){ border-radius: 0 30px 30px 0;}
.new-colors  h2{
    padding: 5px;
    border-radius: 10px;
    font-size: 1.1rem;
}



.current-color h2{
    display: none;
    
}
.current-color:hover h2{
   display: flex;
   cursor: pointer;
}

.colorNotification::before{
content: '';
width: 20px;
height: 20px;
border-radius: 5px;
background-color: aquamarine;

}
.colorNotification{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: max-content;
    border-radius: 15px;
    background-color: rgb(0, 0, 0,0.5);
    color: white;
    font-size: 30px;
    
    visibility: hidden;
}
.colorNotification.animate{
  transition-duration: 0.1s;
  
  animation-duration: 2s;
  animation-name: animate;
}
@keyframes animate{
	from {
		visibility:visible;
	}
	to {
		visibility: hidden;
	}
}
